.footer {
  max-width: 850px;
  width: 100%;
  padding-right: 0;
  display: flex;
  align-items: center;
}

.inputSection {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 32px;
  border-radius: 8px;
  background-color: var(--light-grey);
}

.inputSection, .inputSection > * {
  transition: background-color .2s ease-in-out;
}

.inputSection:hover, .inputSection:hover > * {
  background-color: var(--hover-light-grey);
}

.sendMessageIcon {
  margin-left: 12px;
  cursor: pointer;
  border: none;
  background: none;
}

.sendMessageIcon:hover {
  fill: var(--main-yellow)
}