.mainSection {
  height: 100%;
}

.menuContent {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  margin: 0 8px;
  border-radius: 8px;
}

.scrolledChats {
  overflow-y: scroll;
  /* height: 100%; */
}