.menuSidebar {
  width: 64px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
}

.leftSlider {
  position: absolute;
  left: 0px;
  height: 64px;
  width: 5px;
  background-color: var(--main-yellow);
  border-radius: 0px 100px 100px;
  transition: transform 0.2s ease-in-out;
}