.menuSidebar {
  width: 64px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
}

.leftSlider {
  position: absolute;
  z-index: 3;
  left: 0px;
  height: 64px;
  width: 5px;
  background-color: var(--main-yellow);
  border-radius: 0px 100px 100px;
  transition: transform 0.2s ease-in-out;
}

.logoSection {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .menuSidebar {
    width: 100%;
    order: 3;
  }

  .logoSection, .leftSlider {
    display: none;
  }

  .menuElements {
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
  }
}