.link {
  margin: 0 8px;
  border-radius: 4px;
}
  
.mainSection {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 300px;

  overflow-y: scroll;
}



.menuContent {
  height: 100%;
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  width: 300px;
}

.scrolledChats {
  overflow-y: scroll;
}


.header {
  display: flex;
  flex-direction: column;
}

.label {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 12px 8px;
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
}

.addChatIcon {
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.addChatIcon:hover {
  background-color: var(--main-yellow);
}

@media screen and (max-width: 800px) {
  .mainSection, .menuContent {
    width: 100%;
    height: calc(100% - 64px);
  }

  .label {
    padding-left: 20px;
  }
}