/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root{
  --main-yellow: #ffbb00;
  --hover-main-yellow: #ffc31d;

  --light-grey: #f5f6f7;
  --hover-light-grey: #eaecf1;
  --hover-grey: #f1f1f2;

  --black-40: #999;
  --black-50: #7f7f7f;
  --light-black: #2d2d2d;

  --black: #000000;
  --hover-black: #000000d9;
  --click-black: #383838;

  --white: #ffffff;

  --red: red;
  --light-red: #ffe1e3;
}