/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root{
  --main-yellow: #ffbb00;
  --light-grey: #f2f3f5;
  --hover-grey: #00000010;
  --black-40: #999;
  --black-50: #7f7f7f;
}