.headerContent {
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-bottom: 1px solid var(--light-grey);
}

.chatInfoSection {
  display: flex;
  width: 100%;
}

.infoSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  line-height: 1.4;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70%;
}

.userCount {
  color: var(--black-50);
  font-size: 13px;
}

.moreIcon {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 12px;
  padding-left: 20px;
}

.options {
  position: absolute;
  top: 35px;
  right: 0px;
  background-color: var(--white);
  transition: background-color .2s ease-in-out;

  padding: 8px 20px;
  border-radius: 4px;
  /* shadow под вопросом */
  box-shadow: -1px 2px 7px 1px rgba(0, 0, 0, 0.08);

  white-space: nowrap;
}

.options:hover {
  cursor: pointer;
  background-color: var(--main-yellow);
}