.headerContent {
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-bottom: 1px solid var(--light-grey);
}

.chatInfoSection {
  display: flex;
  width: 100%;
}

.infoSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  line-height: 1.4;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70%;
}

.moreIcon {
  display: flex;
  align-items: center;
  margin: 0 12px;
}