.input {
    display: none;
}

.clicker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.loadedImg {
    clip-path: circle();
}