.messageArticle {
  position: relative;
  display: flex;
  padding: 8px 16px;
  padding-left: 0;
  border-radius: 8px;
}

.textInfo {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  margin: 0 0 0 16px;
  padding-right: 35px;
}

.nameAndDate {
  display: flex;
  align-items: baseline;
  line-height: 16px;
  margin-bottom: 5px;
}

.pointer {
  cursor: pointer 
}

.onlineCircle {
  border-radius: 50%;
  background-color: var(--main-yellow);
  margin-left: 2px;
  width: 7px;
  height: 7px;
  margin-bottom: 1px;
}

.date {
  margin-left: 6px;
  color: var(--black-40);
  font-size: 13px;
}

.messageText {
  line-height: 1.4;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 300;
}

.messageArticle:hover .moreInfo {
  display: flex;
  align-items: center;
}

.moreInfo{    
  position: absolute;
  right: 12px;
  top: 0;
  height: 100%;
  display: none;
}

.moreIconInner {
  height: 50%;
  display: flex;
  align-items: center;
}

.messageFile {
  border-radius: 4px;
  margin-top: 8px;
}

.pictureSection {
  height: 100%;
  width: 100%;
  max-width: 200px;
}

.picture {
  border-radius: 4px;
  height: auto;
  width: 100%;
}