.btnPosnawr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-yellow);
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
}

.btnPosnawr:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
  0px 1px 10px 0px rgba(0,0,0,.12);
}

.span {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--hover-main-yellow);
  -webkit-transition: width .4s ease-in-out, height .4s ease-in-out;
  transition: width .4s ease-in-out, height .4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
} 

.spanText {
  color: black;
  font-weight: 600;
  font-size: 13px;
  z-index: 3;
}