.moreIconSection {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.moreIcon {
  height: 4px;
  width: 4px;
  background-color: black;
  border-radius: 50%;
  margin-left: 2px;
}