.input {
  width: 100%;
  position: relative;
}

.basicInput {
  height: 55px;
  border-radius: 8px;
  padding: 18px;
  padding-bottom: 0;
  background-color: var(--light-grey);
}

.label {
  position: absolute;
  bottom: 16px;
  font-size: 15px;
  padding: 0 18px;
  transition: all 0.25s ease;
}

.focusedLabel {
  bottom: 28px;
  font-size: 13px;
}